{{#each data}}
  <div class="album-results-wrap" id="album-wrap-{{@index}}" data-name={{title}}>
    <div class="album-input-wrap discogs">
      <div>
        <h2>GENERAL INFO</h2>
        <a class="fa fa-external-link-square link-icon" target="_blank" href="https://www.discogs.com/release/{{main_release}}"></a>
      </div>

      <div class="album-field-wrap">
        <label>Title
          <input type="text" name="title" class="good" value="{{title}}">
        </label>
      </div>

      <div class="album-field-wrap">
        <label>Year
          <input type="text" name="year" class="good" value="{{year}}">
        </label>
      </div>

      <div class="album-field-wrap">
        <label>Category
          <select name="category" class="category-select bad">
            <option value="">Choose A Category</option>
            <option value="film">Film</option>
            <option value="game">Game</option>
            <option value="tv">TV</option>
          </select>
        </label>
      </div>

      <div class="album-field-wrap">
        <label>Discogs ID
          <input type="text" name="discogs_id" class="good" value={{main_release}}>
        </label>
      </div>
    </div>

    <div class="album-input-wrap spotify">
      <h2>MEDIA INFO</h2>
      <div class="media-button-wrap">
        <button class="media-button">Query Spotify</button>
        <button class="media-button">Check Result</button>
      </div>

      <div class="album-field-wrap">
        <label>Spotify ID
          <input type="text" name="spotify_id" class="neutral">
        </label>
      </div>

      <div class="album-field-wrap">
        <label for="album-input-artwork">Artwork URL
          <input type="text" name="year" class="neutral">
        </label>
      </div>
    </div>
  </div>
{{/each}}
