{{>login}}

{{>message}}

<input type="checkbox" class="mock" id="mock" checked>

<!-- SEARCH -->
<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">1. Search For An Artist</h1>

    <div class="result-count-wrap">
      <span>Number of Results</span>
      <select id="result-count" class="result-count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>
  </div>

  <input type="text" id="artist-search" class="artist-search-input" autocomplete="off" value="Hans Zimmer">
</section>

<!-- ARTISTS -->
<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">2. Choose An Artist</h1>
  </div>

  <div class="artist-results-wrap" id="artist-results"></div>

  <div class="action-button-wrap">
    <button id="artist-result-add" class="action-button inactive">Add To Database</button>
    <button id="artist-result-search" class="action-button inactive">Search For Albums</button>
  </div>
</section>

<!-- ALBUMS -->
<section class="step">
  <div class="step-header-wrap">
    <h1 class="step-header">3. Add Albums</h1>
    <span id="album-counter" class="album-counter">0 / 0</span>
  </div>

  <div id="slider" class="slider">
    <!-- <div class="album-placeholder"></div> -->
    <form class="album-form" id="album-form-{{@index}}">
      <div class="album-input-wrap discogs">
        <div>
          <h2>GENERAL INFO</h2>
          <a class="fa fa-external-link-square link-icon" target="_blank" href="https://www.discogs.com/release/{{main_release}}"></a>
        </div>

        <div class="album-field-wrap">
          <label for="album-input-title-{{@index}}">Title</label>
          <input type="text" name="title" id="album-input-title-{{@index}}" value="{{title}}">
        </div>

        <div class="album-field-wrap">
          <label for="album-input-year-{{@index}}">Year</label>
          <input type="text" name="year" id="album-input-year-{{@index}}" value="{{year}}">
        </div>

        <div class="album-field-wrap">
          <label for="album-input-category-{{@index}}">Category</label>
          <select name="category" id="album-input-category-{{@index}}">
            <option value="film">Film</option>
            <option value="game">Game</option>
            <option value="trailer">Trailer</option>
            <option value="tv">TV</option>
          </select>
        </div>

        <div class="album-field-wrap">
          <label for="album-input-discogs_id-{{@index}}">Discogs ID</label>
          <input type="text" name="discogs_id" id="album-input-discogs_id-{{@index}}" value={{main_release}}>
        </div>
      </div>

      <div class="album-input-wrap spotify">
        <h2>MEDIA INFO</h2>

        <div class="spotify-wrap">
          <div class="spotify-art"></div>

          <div class="media-button-wrap">
            <button class="media-button query">Query Spotify</button>
            <a class="media-button inactive" target="_blank" id="check-result-{{@index}}">Check Result</a>
            <button class="media-button query">Confirm</button>
          </div>
        </div>

        <input type="hidden" name="spotify_id" class="neutral" id="album-input-spotify_id-{{@index}}">
        <input type="hidden" name="spotify_img" class="neutral" id="album-input-artwork-{{@index}}">
      </div>
    </form>
  </div>

  <div class="action-button-wrap albums">
    <button id="album-result-add" class="action-button inactive">Add To Database</button>
    <button id="album-result-skip" class="action-button inactive">Skip This Album</button>
  </div>
</section>

<!-- SCRIPTS -->
<script type="text/javascript" src="./scripts/index.js"></script>
<script type="text/javascript" src="./scripts/login.js"></script>
<script type="text/javascript" src="./scripts/artists.js"></script>
<script type="text/javascript" src="./scripts/albums.js"></script>
